/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

li + li {
  padding-left: 1em;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;

  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

main {
  margin-top: 35px;
}

header {
  background: url(/images/landing.jpg) no-repeat center center/cover;
  color: #fff;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.4em;
}

header p {
  text-align: center;
  line-height: 1.5;
  font-weight: 100;
}

.logo {
  max-width: 100px;
  margin-left: 1em;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-section {
  padding: 30px 40px 60px;
}

.middle-section h2 {
  font-weight: 300;
  text-align: center;
  padding-bottom: 1em;
}

.row {
  display: flex;
  justify-content: space-around;
}

.card {
  text-align: center;
  flex: 0 0 33%;
}

.card img {
  display: block;
  margin: 0 auto;
  max-width: 100px;
  margin-bottom: 1em;
}

.card h3 {
  color: #00b172;
  padding-bottom: 1em;
}

.bottom-section {
  background: #00b172;
  color: #fff;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.bottom-section .title {
  padding-bottom: 1em;
  max-width: 320px;
}

.bottom-section hr {
  color: white;
  height: 3px;
  background-color: #fff;
}

.bottom-section p {
  padding-top: 1em;
  font-weight: 300;
  width: 75%;
}

.bottom-section .col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bottom-section > img {
  position: absolute;
  max-width: 100px;
  top: 50%;
  left: 50%;
}

.bottom-section .app {
  flex: 0 0 30%;
  max-height: 500px;
}

.bottom-section .app img {
  max-width: 300px;
  margin: 0 auto;
}

.bottom-section .text {
  flex: 0 0 50%;
}
